@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Rowdies&family=Yellowtail&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --light1-background: #f5f5f5;
  --light2-background: #f9f9f9;
  --purple: #810ca8;
  --dark1-background: #03001c;
  --dark2-background: #100e1c;
  --dark-card-background: rgba(15, 14, 28, 0.6);
  --light-card-background: rgba(249, 249, 249, 0.6);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;

  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 60px 1fr;
  font-family: "Geologica", sans-serif;
  background-color: var(--dark1-background); /*BODY BACKGROUND COLOR CHANGE*/
  color: var(--light2-background); /*TEXT COLOR CHANGE*/
}

.circle1 {
  height: 250px;
  width: 250px;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  position: absolute;
  top: 70%;
  left: 60%;
  border-radius: 100%;
  filter: blur(140px);
  z-index: -1;
}

.circle2 {
  height: 250px;
  width: 250px;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );

  position: absolute;
  top: 25px;
  left: 180px;
  border-radius: 100%;
  filter: blur(120px);
  z-index: -1;
}

/*=========================
HEADER SLYLING
===========================*/

.header {
  top: 0;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  right: 0;
  height: 60px;
}

.header h3 {
  padding-left: 15px;
  padding-bottom: 5px;
  color: black;
  font-family: "Yellowtail", cursive;
  font-size: 25px;
  max-width: max-content;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
}

/*=========================
SIDE BAR SLYLING
===========================*/

.sidebar {
  grid-row: 1/3;
  grid-column: 1/2;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 100vh;
  position: fixed;
  background-color: var(--dark2-background); /*SIDEBAR COLOR*/
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* SIDEBAR TOP */
#sidebar-top img {
  width: 400px;
  height: 250px;
  border-radius: 0 1rem 0 0;
}

#sidebar-top p {
  position: absolute;
  top: 150px;
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);

  text-transform: uppercase;
  font-family: "Rowdies", cursive;
  font-size: 35px;
  margin-left: 0;
  padding-left: 15px;
  z-index: 2;
}

.sidebar-top-p-shadow {
  height: 100px;
  width: 400px;
  position: absolute;
  top: 150px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px -50px 36px -28px inset;
  z-index: 4;
}

/*CAROUSEL */

.carousel {
  position: relative;
  width: 100%;
  height: 250px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 0 1rem 0 0;
}

.carousel__slides {
  position: relative;
  width: 400%; /* Adjust width based on the number of slides */
  height: 100%;
  left: 0;
  transition: left 1s;
}

.carousel__slide {
  position: relative;
  float: left;
  width: 25%; /* Adjust width based on the number of slides */
  height: 100%;
  background-size: cover;
  /* Add background images for each slide */
}

.carousel__radio {
  display: none;
}
.carousel__indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.carousel__indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f9f9f9;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__radio:nth-child(1):checked ~ .carousel__slides {
  left: 0;
}
.carousel__radio:nth-child(2):checked ~ .carousel__slides {
  left: -100%;
}
.carousel__radio:nth-child(3):checked ~ .carousel__slides {
  left: -200%;
}
.carousel__radio:nth-child(4):checked ~ .carousel__slides {
  left: -300%;
}

.carousel__radio:nth-child(1):checked
  ~ .carousel__indicators
  label:nth-child(1),
.carousel__radio:nth-child(2):checked
  ~ .carousel__indicators
  label:nth-child(2),
.carousel__radio:nth-child(3):checked
  ~ .carousel__indicators
  label:nth-child(3),
.carousel__radio:nth-child(4):checked
  ~ .carousel__indicators
  label:nth-child(4) {
  background-color: var(--purple);
}

.carousel__radio:checked ~ .carousel__slides {
  left: -100%;
  transition-duration: 0s;
}

.carousel__radio:checked ~ .carousel__slides {
  transition-duration: 1s;
}
/* SIDEBAR MIDDLE */

.climate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

/* SIDEBAR BOTTOM */

.sidebar-bottom {
  display: flex;
  flex-direction: column;
}

.website {
  margin: 25px;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
  height: 20px;
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 15px;
  border-radius: 2rem;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}

a.web-filldiv {
  display: block;
  color: var(--light1-background);
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.map {
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
  height: 20px;
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 15px;
  border-radius: 2rem;
  text-align: center;
}

a.map-filldiv {
  display: block;
  color: var(--light1-background);
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
/*=========================
Main BAR SLYLING
===========================*/

.main {
  padding: 20px;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "c1 c1 c2"
    "c3 c4 c4"
    "c6 c6 c5";
}

.card {
  border-radius: 1rem;
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;

  background: var(--dark-card-background); /*CARD COLOR*/

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid var(--dark2-background); /*CARD BORDER COLOR CHANGE*/
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:nth-child(1) {
  grid-area: c1;
}
.card:nth-child(2) {
  grid-area: c2;
}
.card:nth-child(3) {
  grid-area: c3;
}
.card:nth-child(4) {
  grid-area: c4;
}
.card:nth-child(5) {
  grid-area: c5;
}

.card:nth-child(6) {
  grid-area: c6;
}

.card h2 {
  margin-bottom: 10px;
}

/*BASIC INFO  CARD*/

.basic-card-info {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*DEMOGRAPHICS CARD*/

.demo-card-info {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

/*SOCIO ECONOMIC CARD*/

.socio-card-info {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

/*SYMBOLS  CARD*/

.symbol-card-info {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

/*MOTTA CARD*/

.motto-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

/*=============================MEDIA QUERIES TABLETS================================*/

@media screen and (max-width: 925px) {
  body {
    grid-template-columns: 300px 1fr;
  }

  .sidebar {
    width: 300px;
  }
  #sidebar-top img {
    width: 300px;
    height: 180px;
    border-radius: 0 1rem 0 0;
  }

  #sidebar-top p {
    font-size: 22px;
    top: 120px;
  }

  .sidebar-top-p-shadow {
    height: 50px;
    width: 300px;
    position: absolute;
    top: 132px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px -50px 36px -28px inset;
    z-index: 4;
  }

  .main {
    grid-template-columns: 1fr;

    grid-template-areas: initial;
  }

  .card {
    grid-area: initial !important;
  }
}
/*=============================MEDIA QUERIES MOBILE================================*/

@media screen and (max-width: 700px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
  }

  .sidebar {
    left: -400px;
    width: 400px;
    z-index: 4;
  }

  #sidebar-top img {
    width: 400px;
    height: 250px;
    border-radius: 0 1rem 0 0;
  }

  .sidebar-top-p-shadow {
    height: 100px;
    width: 400px;
    position: absolute;
    top: 150px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px -80px 36px -28px inset;
    z-index: 4;
  }

  #sidebar-top p {
    top: 150px;
    font-size: 35px;
    z-index: 5;
  }

  .sidebar.active {
    left: 0;
    box-shadow: 2px 2px 15px var(--dark1-background);
  }
  #toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 2rem;
    background-color: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toggle::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 2rem;
    background-color: #fff;
    transform: translateY(5px);
    transition: 0.2s;
  }

  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
}

/*=========================== MEDIA QUERIES SMALL MOBILES===============================*/

@media screen and (max-width: 480px) {
  .sidebar {
    left: -400px;
    width: 300px;
    z-index: 4;
  }

  .sidebar-top-p-shadow {
    height: 100px;
    width: 300px;
  }

  #sidebar-top p {
    top: 180px;
    font-size: 25px;
  }
}
