@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Rowdies&family=Yellowtail&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --light1-background: #f5f5f5;
  --light2-background: #f9f9f9;
  --purple: #810ca8;
  --dark1-background: #03001c;
  --dark2-background: #100e1c;
  --dark-card-background: rgba(15, 14, 28, 0.6);
  --light-card-background: rgba(249, 249, 249, 0.6);

  --primary-backgorund: #f5f5f5;
  --secondary-background: #f9f9f9;
  --card-background: rgba(249, 249, 249, 0.6);
  --dark-text: #03001c;
  --card-border: #f9f9f9;
  --shadow: rgba(17, 12, 46, 0.15);
}

/*---------------DARK THEME VARIABLES-----------------*/

.dark-mode {
  --primary-background: #03001c;
  --secondary-background: #100e1c;
  --card-background: rgba(15, 14, 28, 0.6);
  --dark-text: #f5f5f5;
  --card-border: #100e1c;
  --shadow: rgba(17, 12, 46, 0.15);
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;

  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 60px 1fr;
  font-family: "Geologica", sans-serif;
  background-color: var(--primary-background); /*BODY BACKGROUND COLOR CHANGE*/
  color: var(--light2-background); /*TEXT COLOR CHANGE*/
}

.circle1 {
  height: 250px;
  width: 250px;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  position: absolute;
  top: 70%;
  left: 60%;
  border-radius: 100%;
  filter: blur(140px);
  z-index: -1;
}

.circle2 {
  height: 250px;
  width: 250px;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );

  position: absolute;
  top: 25px;
  left: 180px;
  border-radius: 100%;
  filter: blur(120px);
  z-index: -1;
}

/*=========================
HEADER SLYLING
===========================*/

.header {
  top: 0;
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  padding-left: 15px;
  padding-bottom: 5px;
  color: black;
  font-family: "Yellowtail", cursive;
  font-size: 25px;
  max-width: max-content;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
}

.theme-toggler {
  font-size: 30px;
  padding: 0 15px 0 0;
  color: var(--dark-text);
  cursor: pointer;
}

/*=========================
SIDE BAR SLYLING
===========================*/

.sidebar {
  grid-row: 1/3;
  grid-column: 1/2;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 100%;
  position: fixed;
  background-color: var(--secondary-background); /*SIDEBAR COLOR*/
  box-shadow: rgba(50, 50, 93, 0.5) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* SIDEBAR TOP */
#sidebar-top img {
  width: 400px;
  height: 250px;
  border-radius: 0 1rem 0 0;
}

.carousel_slide1 > img {
  margin-bottom: 0;
  width: 400px;
  height: 250px;
  z-index: 3;
  border-radius: 0 0 1rem 0;
}

#sidebar-top p {
  position: absolute;
  top: 150px;
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);

  text-transform: uppercase;
  font-family: "Rowdies", cursive;
  font-size: 35px;
  margin-left: 0;
  padding-left: 15px;
  z-index: 4;
}

.sidebar-top-p-shadow {
  height: 100px;
  width: 400px;
  position: absolute;
  top: 150px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px -50px 36px -28px inset;
  z-index: 4;
}

.sidebar-bottom-p-shadow {
  height: 100px;
  width: 400px;
  position: absolute;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.55) 0px -50px 36px -28px inset;
  z-index: 4;
  border-radius: 0 0 1.5rem 0;
}

/*CAROUSEL */

.carousel {
  position: relative;
  width: 100%;
  height: 250px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 0 1rem 0 0;
}

/* SIDEBAR MIDDLE */
.freedom-fighter {
  color: #03001c;
  display: flex;
  flex-direction: column;
}

.freedom-fighter-names > h3 {
  font-family: "Rowdies", cursive;
  padding-left: 15px;
  position: absolute;
  color: var(--dark-text);
  z-index: 5;
  font-size: 25px;
  bottom: 10px;
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);

  text-transform: uppercase;
  filter: drop-shadow(rgba(0, 0, 0, 0.12));
}
/* SIDEBAR BOTTOM */

.sidebar-bottom {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.website {
  margin: 25px;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
  height: 20px;
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 15px;
  border-radius: 2rem;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
}

a.web-filldiv {
  display: block;
  color: var(--light1-background);
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.map {
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
  height: 20px;
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 15px;
  border-radius: 2rem;
  text-align: center;
}

a.map-filldiv {
  display: block;
  color: var(--light1-background);
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
/*=========================
Main BAR SLYLING
===========================*/

.main {
  padding: 20px;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "c1 c1 c2"
    "c3 c4 c4"
    "c6 c6 c5"
    "c7 c7 c8"
    "c9 c9 c9";
}

.card {
  border-radius: 1rem;
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;

  color: var(--dark-text);
  background: var(--card-background); /*CARD COLOR*/

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid var(--card-border); /*CARD BORDER COLOR CHANGE*/
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card:nth-child(1) {
  grid-area: c1;
}
.card:nth-child(2) {
  grid-area: c2;
}
.card:nth-child(3) {
  grid-area: c3;
}
.card:nth-child(4) {
  grid-area: c4;
}
.card:nth-child(5) {
  grid-area: c5;
}

.card:nth-child(6) {
  grid-area: c6;
}

.card:nth-child(7) {
  grid-area: c7;
}

.card:nth-child(8) {
  grid-area: c8;
}

.card:nth-child(9) {
  grid-area: c9;
}
.card h2 {
  margin-bottom: 10px;
}

/*BASIC INFO  CARD*/

.basic-card-info {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*DEMOGRAPHICS CARD*/

.demo-card-info {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

/*SOCIO ECONOMIC CARD*/

.socio-card-info {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

/*SYMBOLS  CARD*/

.symbol-card-info {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

/*MOTTA CARD*/

.motto-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.education-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.education-card-info h2 {
  font-size: 16px;
}

/*=============================MEDIA QUERIES TABLETS================================*/

@media screen and (max-width: 925px) {
  body {
    grid-template-columns: 300px 1fr;
  }

  .sidebar {
    width: 300px;
  }
  #sidebar-top img {
    width: 400px;
    height: 300px;
    border-radius: 0 1rem 0 0;
  }

  #sidebar-top p {
    font-size: 22px;
    top: 180px;
    z-index: 5;
  }

  .sidebar-top-p-shadow {
    height: 50px;
    width: 300px;
    position: absolute;
    top: 200px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px -50px 36px -28px inset;
    z-index: 4;
  }

  .carousel_slide1 {
    width: 300px;
    overflow: hidden;
    border-radius: 0 0 1rem 0;
  }

  .sidebar-bottom-p-shadow {
    height: 50px;
    width: 300px;
    position: absolute;
    border-radius: 0 0 1.5rem 0;
  }
  .main {
    grid-template-columns: 1fr;

    grid-template-areas: initial;
  }

  .card {
    grid-area: initial !important;
  }
}
/*=============================MEDIA QUERIES MOBILE================================*/

@media screen and (max-width: 700px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
  }

  .sidebar {
    left: -100%;
    width: 400px;
    z-index: 4;
  }

  #sidebar-top img {
    width: 400px;
    height: 300px;
    border-radius: 0 1rem 0 0;
  }

  .sidebar-top-p-shadow {
    height: 100px;
    width: 400px;
    position: absolute;
    top: 150px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px -80px 36px -28px inset;
    z-index: 4;
  }

  #sidebar-top p {
    top: 150px;
    font-size: 35px;
    z-index: 5;
  }

  .carousel_slide1 {
    width: 400px;
    overflow: hidden;
    border-radius: 0 0 1rem 0;
  }

  .sidebar-bottom-p-shadow {
    height: 50px;
    width: 400px;
    position: absolute;
    border-radius: 0 0 1.5rem 0;
  }

  .sidebar.active {
    box-shadow: 2px 2px 15px var(--dark1-background);
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .header-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #toggle {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--card-background);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 2rem;
    background-color: var(--dark-text);
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toggle::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    border-radius: 2rem;
    background-color: var(--dark-text);
    transform: translateY(5px);
    transition: 0.2s;
  }

  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
}

/*=========================== MEDIA QUERIES SMALL MOBILES===============================*/

@media screen and (max-width: 480px) {
  .sidebar {
    left: -400px;
    width: 300px;
    z-index: 4;
  }

  .sidebar-top-p-shadow {
    height: 100px;
    width: 300px;
  }

  #sidebar-top p {
    top: 180px;
    font-size: 25px;
    z-index: 4;
  }

  .carousel_slide1 {
    width: 300px;
    overflow: hidden;
    border-radius: 0 0 1.5rem 0;
  }

  .sidebar-bottom-p-shadow {
    height: 50px;
    width: 300px;
    position: absolute;
    border-radius: 0 0 1.5rem 0;
  }

  .freedom-fighter-names > h3 {
    z-index: 5;
  }
}
