@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Geologica:wght@300&family=Rowdies&family=Yellowtailfamily=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --light1-background: #f5f5f5;
  --light2-background: #f9f9f9;
  --purple: #810ca8;
  --dark1-background: #03001c;
  --dark2-background: #100e1c;
  --dark-card-background: rgba(15, 14, 28, 0.6);
  --light-card-background: rgba(249, 249, 249, 0.6);
  --dark-shadow: rgba(255, 255, 255, 0.23);
  --dark-mapfill: rgba(255, 255, 255, 0.9);
  --gradient-color1: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
  /*--gradient-color2 : */
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
}
body {
  background-color: var(--light1-background);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*   NAV STYLING STARTS  */

.navbar {
  width: 100%;
  height: 65px;
  background-color: var(--light2-background);
  box-shadow: var(--dark-shadow) 0 1px 50px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  font-family: "Geologica", sans-serif;
}

.nav-items a {
  margin: 0 8px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--dark1-background);
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to top left,

    #ef32d9,
    #89fffd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
}

.nav-items a:hover {
  background: #ef32d9; /* fallback for old browsers */
  background: #b2fefa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0ed2f7,
    #8af6f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0ed2f7,
    #8af6f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
}

.nav-logo h3 {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  color: black;
  font-family: "Yellowtail", cursive;
  font-size: 25px;
  max-width: max-content;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
}

/*   NAV STYLING ENDS  */

/*LANDING SECTION STYLING STARTS*/

.landing {
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.land-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.india-text {
  font-family: "Zen Dots", cursive;
  font-size: 120px;
  margin-top: 15px;
  font-weight: 900;
  letter-spacing: 18px;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
}

.text-india {
  font-family: "Bebas Neue", sans-serif;

  text-shadow: 2px 2px 10px white;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 8px;
  z-index: 3;
  background: rgb(255, 103, 31);
  background: linear-gradient(
    149deg,
    rgba(255, 103, 31, 1) 19%,
    rgba(209, 119, 58, 1) 44%,
    rgba(94, 159, 127, 1) 47%,
    rgba(48, 132, 91, 1) 54%,
    rgba(4, 106, 56, 1) 100%
  );
  /*Chrome*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /*Microsoft*/
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  /*Opera*/
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
}

/*LAND RIGHT IMG STARTS*/
.land-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-right: 5%;
}

.land-img {
  height: 110px;
  width: 70%;
  background-color: #663dff;
  border-radius: 4rem;
  margin: 10px;
  background-position: center;
}

.land-img1 {
  background-image: url(https://images.pexels.com/photos/7846475/pexels-photo-7846475.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: center;
}
.land-img2 {
  width: 50%;
  background-image: url(https://media.istockphoto.com/id/1417377707/photo/taj-mahal-monument-at-sunrise-agra-india.webp?b=1&s=170667a&w=0&k=20&c=toO7qB0h23y455CKXKv79e4vCZ8oSwV9_bhbBFN3xL4=);
}

.land-img3 {
  width: 60%;
  background-color: #cc4499;
  background-image: url(https://images.unsplash.com/photo-1603755962670-a6f92be76d5e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80);
  background-position: center;
}

/*LAND RIGHT IMG STARTS*/

/*   MAP STYLING  STARTS */

#combined path {
  fill: #40128b;
  stroke: var(--light-card-background);
  stroke-width: 0.5;
}

#combined path:hover {
  fill: #6527be;
  transition: 0.2s;
  cursor: pointer;
}

.map {
  width: 60%;
  padding-top: 5%;
  filter: drop-shadow(1px 1px 25px var(--dark-shadow));
}

/*   MAP STYLING  ENDS */
#main {
  z-index: 3;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.circle1 {
  height: 250px;
  width: 250px;
  z-index: -1;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );

  position: absolute;
  top: 15px;
  left: 11%;
  filter: blur(130px);
}

.circle2 {
  height: 250px;
  width: 250px;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  position: absolute;
  top: 70%;
  left: 60%;
  border-radius: 100%;
  filter: blur(125px);
  z-index: -1;
}

/*=========================== MEDIA QUERIES TABLETS===============================*/

@media screen and (max-width: 925px) {
  .india-text {
    padding-left: 10px;
    font-size: 90px;
  }

  .text-india {
    padding-left: 10px;
    font-size: 22px;
  }

  .text {
    width: 100%;
  }

  .map {
    width: 80%;
  }
}

/*=========================== MEDIA QUERIES MOBILES===============================*/

@media screen and (max-width: 700px) {
  body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .landing {
    flex-direction: column-reverse;
  }

  .land-img {
    height: 90px;
  }
}

/*=========================== MEDIA QUERIES SMALL MOBILES===============================*/

@media screen and (max-width: 450px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }
  .land-img {
    height: 90px;
  }

  .india-text {
    text-align: center;
    font-size: 70px;
  }

  .text-india {
    text-align: center;

    font-size: 18px;
  }
}

/*==========WEB ANIMATION===============*/

.intro {
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Yellowtail", cursive;
  color: var(--light1-background);
  letter-spacing: 2px;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.popup {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 9999;
}
